/** UserWelcome*/
.animation-star-1 {
  animation: star 5s linear infinite;
}

.animation-star-2 {
  animation: star 7s linear infinite;
}

.animation-star-3 {
  animation: star 10s linear infinite;
}

.animation-star-4 {
  animation: star 10s linear infinite;
}

.animation-star-5 {
  animation: star 11s linear infinite;
}

.animation-star-6 {
  animation: star 10s linear infinite;
}

.animation-circle-1 {
  animation: move2 1.2s infinite alternate;
}

.animation-circle-2 {
  animation: move2 1.4s infinite alternate;
}

.animation-circle-3 {
  animation: move2 1.6s infinite alternate;
}

.animation-cloud {
  animation: cloud 50s linear infinite;
}

.animation-cosmonaut-balloon {
  animation: cosmo-balloon 10s linear infinite;
}

.page-spinner-1 {
  animation: rotate 1s ease infinite;
}

.page-spinner-2 {
  animation: rotateOpacity 1s ease infinite 0.1s;
}

.page-spinner-3 {
  animation: rotateOpacity 1s ease infinite 0.2s;
}

.page-spinner-wrapper .effects {
  transition: all 0.3s ease;
}

.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1ms !important;
  animation-duration: 1ms !important;
  -webkit-animation-iteration-count: 1 !important;
  animation-iteration-count: 1 !important;
  transition-duration: 1ms !important;
  animation-fill-mode: both;
}

/** FIXME сюда добавлять элементы для анимации */
.main-content .widget {
  -webkit-animation: fadeIn .5s linear;
  animation: fadeIn .5s linear;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transition: all .2s, background 0s, border-color 0s, color 0s;
}

@keyframes star {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(0.5) rotate(45deg);
    transform: scale(0.5) rotate(45deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}

@keyframes move2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes cloud {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(500px);
  }
}

@keyframes cosmo-balloon {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-7deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotateOpacity {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
