/** Calendar Widget */

.today-calendar .fc-today-button.fc-button.fc-button-primary {
  @apply inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white dark:bg-gray-900 dark:border-gray-600 hover:bg-gray-50 dark:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 active:outline-none active:bg-gray-300 active:text-gray-500 active:ring-2 active:ring-indigo-500 active:border-gray-300;
}

.today-calendar .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  @apply flex items-center;
}

.today-calendar .fc-toolbar-chunk div {
  @apply flex items-center;
}

.today-calendar .fc-toolbar-chunk div .fc-toolbar-title {
  @apply w-36 flex justify-center text-sm leading-6 font-medium text-gray-900 dark:text-white uppercase font-bold;
}

.today-calendar .fc-toolbar-chunk div .fc-next-button.fc-button.fc-button-primary {
  @apply bg-white dark:bg-gray-900 p-0 border-none rounded-full text-gray-400 dark:text-gray-500 dark:hover:text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

.today-calendar .fc-toolbar-chunk div .fc-prev-button.fc-button.fc-button-primary {
  @apply bg-white dark:bg-gray-900 p-0 border-none rounded-full text-gray-400 dark:text-gray-500 dark:hover:text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

.today-calendar .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  @apply mb-3;
}

.today-calendar .fc-scrollgrid.fc-scrollgrid-liquid {
  @apply border-none;
}

.today-calendar .fc-scrollgrid.fc-scrollgrid-liquid th {
  @apply border-none text-gray-500 dark:text-gray-400 font-semibold text-sm uppercase;
}

.today-calendar .fc-scrollgrid.fc-scrollgrid-liquid .fc-scroller {
  overflow-y: hidden !important;
  display: flex;
  justify-content: center;
}

.today-calendar .fc-scrollgrid.fc-scrollgrid-liquid td {
  @apply border-none text-gray-600 dark:text-gray-300 font-medium text-sm uppercase;
}

.today-calendar .fc-event-time {
  @apply hidden;
}

.today-calendar .fc-event-title {
  @apply hidden;
}

.today-calendar .fc .fc-daygrid-day.fc-day .fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  height: 32px !important;
}

.today-calendar .fc .fc-daygrid-day-frame {
  @apply flex items-center justify-center;
}

.today-calendar .fc .fc-daygrid-event-dot {
  @apply m-0 border-indigo-600;
  border-width: 3px;
}

.today-calendar .fc-h-event {
  @apply rounded-full m-0 border-indigo-600;
  border-width: 3px;
}

.today-calendar .fc-h-event .fc-event-title.fc-sticky {
  @apply hidden;
}

.today-calendar .fc-daygrid-event.fc-daygrid-dot-event.fc-event.fc-event-draggable.fc-event-resizable.fc-event-start.fc-event-end.fc-event-today {
  @apply -ml-1 pt-0;
}

.today-calendar .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  @apply rounded-full bg-indigo-600/20 dark:bg-indigo-600/40;
}

.today-calendar .fc .fc-daygrid-day.fc-day-today {
  @apply bg-transparent;
}

.today-calendar .fc .fc-daygrid-day-events {
  @apply flex items-center justify-center flex-col;
}

.today-calendar .fc .fc-daygrid-day-bottom {
  @apply hidden;
}

.today-calendar .fc .fc-daygrid-day-number {
  @apply px-1.5;
}
