@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Light"),
  url("../opensans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
  url("../opensans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Medium"),
  url("../opensans/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
  url("../opensans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Bold"),
  url("../opensans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Extrabold"),
  url("../opensans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Italic"),
  url("../opensans/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
