@font-face {
  font-family: "Material Design Icons";
  src: url("../mdi/materialdesignicons-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@import './materialdesignicons';
